api = "0.7"

[buildpack]
  description = "A buildpack for starting a passenger server for a Ruby app"
  homepage = "https://github.com/paketo-buildpacks/passenger"
  id = "paketo-buildpacks/passenger"
  keywords = ["ruby", "passenger"]
  name = "Paketo Buildpack for Passenger"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/passenger/blob/main/LICENSE"

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "buildpack.toml"]
  pre-package = "./scripts/build.sh"

  [[metadata.dependencies]]
    checksum = "sha256:3bc6e51378551aa5bb055f44c33e46b39c6d4f5d020d1b5a9f0317a7836bd475"
    cpe = "cpe:2.3:a:haxx:curl:7.86.0:*:*:*:*:*:*:*"
    id = "curl"
    licenses = ["SSH-short", "curl"]
    name = "cURL"
    purl = "pkg:generic/curl@7.86.0?checksum=3dfdd39ba95e18847965cd3051ea6d22586609d9011d91df7bc5521288987a82&download_url=https://curl.se/download/curl-7.86.0.tar.gz"
    source = "https://curl.se/download/curl-7.86.0.tar.gz"
    source-checksum = "sha256:3dfdd39ba95e18847965cd3051ea6d22586609d9011d91df7bc5521288987a82"
    stacks = ["io.buildpacks.stacks.jammy"]
    uri = "https://artifacts.paketo.io/curl/curl_7.86.0_linux_jammy_3bc6e513.tgz"
    version = "7.86.0"

  [[metadata.dependencies]]
    checksum = "sha256:7f3fa60eb2a62723eef58046a5c6431b391ca08168584df3b7f3775adebc7a83"
    cpe = "cpe:2.3:a:haxx:curl:7.86.0:*:*:*:*:*:*:*"
    id = "curl"
    licenses = ["SSH-short", "curl"]
    name = "cURL"
    purl = "pkg:generic/curl@7.86.0?checksum=3dfdd39ba95e18847965cd3051ea6d22586609d9011d91df7bc5521288987a82&download_url=https://curl.se/download/curl-7.86.0.tar.gz"
    source = "https://curl.se/download/curl-7.86.0.tar.gz"
    source-checksum = "sha256:3dfdd39ba95e18847965cd3051ea6d22586609d9011d91df7bc5521288987a82"
    stacks = ["io.buildpacks.stacks.bionic"]
    uri = "https://artifacts.paketo.io/curl/curl_7.86.0_linux_bionic_7f3fa60e.tgz"
    version = "7.86.0"

  [[metadata.dependency-constraints]]
    constraint = "7.*"
    id = "curl"
    patches = 1

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.buildpacks.stacks.jammy"
